.favourite-characters-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to right, #efefef, #ececec);
  padding: 3rem;
}

.dont-have-favourite {
  font-size: 1.5rem;
}
